*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background: #000000;
}
.login-box{
    display: flex;
    width:100%;
    background: #000000;
    padding: 80px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box h1{
    color: white;
}
.login-box h2{
    color: white ;
    margin-bottom: 20px;
}
.login-box button{
    width:30vh;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff
}
.logo{
    width:40px;
}
.logo1{
    width:15px;
    margin-right: 5px;
}
.login-box hr{
    border: 0;
    height:1px;
    background: #c2c2c2;
    margin: 5px;
    width: 28vh;
}/*
.login-box span{
    display:block;
    width:50%;
    margin:auto;
    background: #000000;
    font-size: 14px;
    margin-top: -14px;
    color: white;
}*/
#c{
    border: 0;
    background: #6b92ff;
    color: white;
}
#s{
    background: #000000;
    color: #6b92ff;
}

.tw h1{
    margin-top:20px;
    color: white;
}
h3{
    color: white;
    font-size: 15px;
    margin-right: 60px;
    margin-top: 50px;
}
.join{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media (min-width: 800px){
    body{
        margin: 0;
        display: flex;
    }
    .login-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
    .logo{
        display: flex;
        width: 400px;      
    }
    .join{
        font-size:20px;
    }
    .enoz{
        font-size: 10px;
    }
    #h{
        font-size: 70px;
        margin: 30px 0;
    }
    .login-box button{
        width: 45vh;
        padding: 12px 0;
    }
    .login-box hr{
        width: 42vh;
    }/*
    .login-box span{
        display:flex;
        
    }*/

}